[submodule "submodules/nvdiffrast"]
	path = submodules/nvdiffrast
	url = https://github.com/NVlabs/nvdiffrast.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
