*.pyc
.vscode
__pycache__
.ipynb_checkpoints
.idea

wandb.key
wandb

*.egg-info

output
build
*dist

tensorboard_3d
screenshots
exp
body_models
SIBR_viewers
data
test


historys
*out
historys
nodes.txt
